.FavoriteFood {
    position: relative;
    color: brown;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    }
    
    .FoodTable{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .Mangu {
    position: relative;
    text-align: center;
    top: 50px;
    }
    
    .Rice {
    position: relative;
    text-align: center;
    top: 75px;
    }
    
    .Mofongo {
    position: relative;
    text-align: center;
    top: 100px;
    }
    
    .GOBACK {
    position: relative;
    left: 10px;
    bottom: 1px;
    }
    
    body{
    background-color:rgb(58, 54, 70);
    }